body {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

h1 {
  color: hsl(300, 43%, 22%);
}

p {
  color: hsl(303, 10%, 53%);
}

img {
  border-radius: 50%;
  float: left;
}

.attribution {
  margin-bottom: 0;
  font-size: 12px;
  position: absolute;
  bottom:10px;
  left: 35%;

}

.ratings {
  background-color: hsl(300, 24%, 96%);
  height: 20px;
  width: 500px;
  display: inline;
  color: hsl(300, 43%, 22%);
  font-weight: 700;



}

.rating1 {}

.rating2 {}

.rating3 {}

.stars{
display: 
}

.testimonies {
  background-color: hsl(300, 43%, 22%);
  width: 25%;
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  color: white;
  font-weight: 300;
  font-size: 12px;
  padding: 25px;

}

.Colton-Smith {
  bottom: 200px;

}

.Irene-Roberts {
  bottom: 150px;
  left: 35%;
}

.Anne-Wallace {
  bottom: 100px;
    left: 70%;
}

*/
