body{
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}
h1{
  color: hsl(300, 43%, 22%);
}
p{
  color: hsl(303, 10%, 53%);
}
img{
  border-radius: 50%;
}

.attribution {
  margin-bottom: 0;
  font-size: 12px;
}
